
<section class="section section--reliably">
    <div class="container">
        <div class="section__title section--reliably__title">С нами удобно и надёжно</div>
        <div class="reliably__list">
            <div class="row reliably__item">
                <div class="col-12 col-lg-6"><div class="reliably__item__name icon1">Работаем с 2014 года на рынке России</div></div>
                <div class="col-12 col-lg-6"><div class="reliably__item__description">Наши клиенты – российские предприятия и крупные зарубежные переводческие компании. 40% клиентов остаются с нами надолго, пока у них есть что переводить.</div></div>
            </div>
            <div class="row reliably__item">
                <div class="col-12 col-lg-6"><div class="reliably__item__name icon2">Постоплата со второго заказа</div></div>
                <div class="col-12 col-lg-6"><div class="reliably__item__description">Первый заказ мы выполняем по предоплате, а все остальные – с оплатой по факту приемки.</div></div>
            </div>
            <div class="row reliably__item">
                <div class="col-12 col-lg-6"><div class="reliably__item__name icon3">Пробные переводы</div></div>
                <div class="col-12 col-lg-6"><div class="reliably__item__description">Закажите пробный перевод и узнайте, какого качества перевод вы получите.</div></div>
            </div>
            <div class="row reliably__item">
                <div class="col-12 col-lg-6"><div class="reliably__item__name icon4">Три тарифа под разные задачи</div></div>
                <div class="col-12 col-lg-6"><div class="reliably__item__description">Не для всех документов требуется одинаковое качество. Экономьте благодаря разным тарифам с разным качеством под разные задачи.</div></div>
            </div>
            <div class="row reliably__item">
                <div class="col-12 col-lg-6"><div class="reliably__item__name icon5">Гарантия</div></div>
                <div class="col-12 col-lg-6"><div class="reliably__item__description">Обеспечиваем точность терминологии через глоссарий. Пожизненная гарантия – работаем над вашим переводом до полной приемки.</div></div>
            </div>
        </div>

        <a href="#" class="button">Рассчитать примерную стоимость <span class="d-none d-sm-inline">перевода</span></a>
    </div>
</section>