.body-home {
	background-image: url('#{$images-path}stuff/bg-5.png');
	background-position: center bottom;
	background-size: 100%  653px;
	background-repeat: no-repeat;

	@include media('<sm') {
		background-image: url('#{$images-path}stuff/bg-5m.png');
		background-size: 100%  367px;
	}

}
.section{
	&--can-help {
		margin-bottom: 113px;

		@include media('<lg') {
			.row > div {
				order: 2;
			}

			.row > .section-offset-1 {
				order: 1;
				margin-top: -80px;
			}
		}
		@include media('<sm') {
			margin-bottom: 60px;
		}
		@include media('>=sm', '<lg') {
			margin-bottom: 80px;
			.row > .section-offset-1 {
 				margin-top: -54px;
				margin-bottom: 80px;
			}
		}
	}
	&--we-translate {
		margin-bottom: 157px;

		@include media('<sm') {
			margin-bottom:  56px;
			&__col-top {
				margin-bottom: 43px;
			}
			&__col-bottom {
				position: relative;
				overflow-x: hidden;
			}
			&__col-bottom:before {
				content: '';
				z-index: -1;
				position: absolute;
				left: -15px;
				top: 0;
				width: calc(100% + 30px);
				height: 395px;
				background-image: url(#{$images-path}stuff/bg-2m.png);
				background-position: center top;
				background-size: 100% auto;
				background-repeat: no-repeat;
			}
		}

		@include media('>=lg') {
			padding-bottom: 40px;
			background-image: url(#{$images-path}stuff/bg-6.png);
			background-position: center top;
			background-size: 100% auto;
			background-repeat: no-repeat;

			&__col-bottom {
				align-self: end;
			}
		}
		@include media('>=sm', '<lg') {
			padding-bottom: 20px;
			background-image: url(#{$images-path}stuff/bg-2t.png);
			background-position: center bottom;
			background-size: 100% auto;
			background-repeat: no-repeat;
			margin-bottom: 60px;
		}
	}
	&--reliably {
		margin-bottom: 120px;
		&__title {
			margin-bottom: 40px;

			@include media('<lg') {
				margin-bottom: 20px;
			}
		}

		@include media('<lg') {
			margin-bottom: 60px;
		}
	}
	&--quiz {
		background-image: url('#{$images-path}stuff/bg-2.png');
		background-position: center bottom;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 40px 0 309px;
		&__row {
			margin-bottom: 40px;
			@include media('<sm') {
				margin-bottom: 20px;
			}
			@include media('>=sm', '<lg') {
				margin-bottom: 28px;
			}
			@include media('>=lg') {
				align-items: center;
			}
		}

		&__title {
			margin-bottom: 0!important;
			@include media('>=sm', '<lg') {
				font-size: 24px!important;
				line-height: 130% !important;
			}
		}
		@include media('>=sm', '<lg') {
			padding-bottom: 48px;
			margin-bottom: 36px;
			.section__note {
				font-size: 10px;
				line-height: 11px;
				color: #050F32;
			}
		}
		@include media('<sm') {
			padding: 26px 0 27px;
			margin-bottom: 60px;
			&__title {
				margin-bottom: 10px!important;
			}
		}
	}

	&--video {
		margin-bottom: 180px;
		&__row {
			align-items: start;
			margin-bottom: 50px;
			@include media('<sm') {
				margin-bottom: 20px;
			}
		}

		&__title {
			margin-bottom: 0!important;
			@include media('<sm') {
				margin-bottom: 10px!important;
			}

		}
		&__desc {
			font-size: 24px;
			line-height: 130%;

			@include media('<sm') {
				text-align: center;
			}
		}
		@include media('<sm') {
			margin-bottom: 60px;
		}

		@include media('>=sm', '<lg') {
			margin-bottom: 80px;

			.section__note {
				line-height: 130%;
				font-size: 16px;
			}
		}
	}
	&--tariff {
		margin-bottom: 112px;
		z-index: 1;;


		@include media('>=sm', '<lg') {
			margin-bottom: 72px;
			&__title {
				margin-bottom: 0!important;
			}
			&__header {
				display: flex;
				width: 100%;
				justify-content: space-between;
				align-items: center;
			}
		}
		@include media('<sm') {
			margin-bottom: 60px;
			.section__desc {
				margin-bottom: 20px;
			}
		}
	}
	&--corporate {
		padding: 215px 0 60px;
		background-image: url('#{$images-path}stuff/bg-3.png');
		background-position: center top;
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: -215px;
		margin-bottom: 119px;

		@include media('<sm') {
			background-image: url('#{$images-path}stuff/bg-3m.png');
			background-size: 100% auto;
			background-position: center 8%;
			padding-top: 0;
			margin-top: 0;
			margin-bottom: 60px;
			padding-bottom: 0;

			&__title {
				text-align: left!important;
			}
			.section__desc {
				text-align: left;
				margin-bottom: 20px;
			}
		}
		@include media('>=sm', '<lg') {
			margin-top: 0;
			background-size: 100% auto;
			background-position: center 50px;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 80px;
		}
	}
	&--partners {
		margin-bottom: 120px;
		&__title {
			margin-bottom: 0px!important;
			@include media('<sm') {
			}
		}
		&__header {
			margin-bottom: 60px;
			@include media('<sm') {
				margin-bottom: 0px;
			}
			@include media('>=sm', '<lg') {
				margin-bottom: 40px;
			}
		}

		@include media('<sm') {
			margin-bottom: 60px;
		}
		@include media('>=sm', '<lg') {
			margin-bottom: 80px;
		}
	}
	&--projects {
		margin-bottom: 6px;
		padding-top: 40px;
		background-image: url('#{$images-path}stuff/bg-4.png');
		background-position: center bottom;
		background-size: cover;
		background-repeat: no-repeat;
		&__title {
			margin-bottom: 60px!important;
		}
		@include media('<sm') {
			padding-top: 20px;
			background-image: url('#{$images-path}stuff/bg-4m.png');

			&__title {
				margin-bottom: 20px!important;
				text-align: left!important;
			}
		}
		@include media('>=sm', '<lg') {
			padding-top: 20px;
			&__title {
				margin-bottom: 20px!important;
			}
		}
	}
	&--promo {
		margin-bottom: 20px;
		@include media('<sm') {
			margin-bottom: 40px;
		}
		@include media('>=sm', '<lg') {
			margin-bottom: 60px;
		}
	}
}
.download-btn {
	&__link {
		display: inline-block;
		padding-left: 30px;
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.38399 20C2.53754 20 1.72485 19.6375 1.07714 18.9667C-0.358991 17.4759 -0.35899 15.0512 1.07681 13.5613L12.275 1.25718C14.0222 -0.55355 16.6986 -0.390846 18.6517 1.63262C19.5268 2.53976 20.0179 3.84753 19.9995 5.22211C19.9811 6.5822 19.4675 7.88381 18.5899 8.79353L10.1266 18.1161C9.89105 18.3773 9.49606 18.3892 9.24461 18.1442C8.99376 17.8988 8.98159 17.4895 9.21809 17.2293L17.6941 7.89252C18.3571 7.20523 18.7375 6.23028 18.7515 5.20402C18.7655 4.17713 18.407 3.20896 17.7693 2.54749C16.5712 1.30526 14.6206 0.654764 13.1704 2.15881L1.97251 14.463C1.00969 15.4618 1.01 17.0659 1.96003 18.0515C2.40555 18.5128 2.93439 18.7375 3.49754 18.7023C4.05477 18.6671 4.6276 18.3714 5.11057 17.8703L14.0206 8.05775C14.3435 7.72298 14.9925 6.90236 14.332 6.21732C13.9579 5.82961 13.6952 5.8535 13.6088 5.86093C13.362 5.88352 13.0737 6.06011 12.7745 6.37067L6.0681 13.7508C5.83129 14.0113 5.43599 14.0239 5.18606 13.7782C4.9349 13.5335 4.92335 13.1235 5.15954 12.864L11.8781 5.46998C12.4064 4.92086 12.9464 4.62321 13.4962 4.57221C13.9252 4.5328 14.5632 4.62741 15.214 5.30276C16.18 6.30414 16.0599 7.77302 14.9161 8.95908L6.00603 18.771C5.29467 19.5096 4.43572 19.9387 3.57398 19.9935C3.51065 19.998 3.44731 20 3.38397 20L3.38399 20Z' fill='%23050F32'/%3E%3C/svg%3E%0A");
		background-position: left 1px;
		background-repeat: no-repeat;
		cursor: pointer;
		color: $blackColor;
		span {
			display: inline-block;
			padding-bottom: 2px;
			border-bottom: 1px dashed $blackColor;
		}
		& + .download-btn__note {
			margin-top: 10px;
		}
		&:hover {
			color: $primaryColor;
			span {
				border-bottom-color: $primaryColor;
			}
		}
	}
	&__note {
		font-size: 14px;
		line-height: 130%;
		color: $primaryColor;
		max-width: 200px;
	}
}
//
.can-help {

	&__title {
	}

	&__desc {
		margin-bottom: 40px;
	}

	&__list-wrap {
	}
	&__list {

		&__item {
			font-size: 24px;
			color: $blackColor;
			margin-bottom: 20px;
			padding-left: 70px;
			background-position: left center;
			background-repeat: no-repeat;
			min-height: 41px;
			display: flex;
			align-items: center;
			line-height: 130%;
			&:last-child {
				margin-bottom: 0;
			}


			@include media('<sm') {
				font-size: 14px;
				padding-left: 29px;
				background-size: 24px 20px;
				min-height: 24px;
				margin-bottom: 5px;
			}

			@include media('>=sm', '<lg') {
				font-size: 16px;
				padding-left: 40px;
				background-size: 30px 25px;
				min-height: 25px;
				margin-bottom: 10px;
			}
		}

		&__item.icon1 {
			background-image: url("data:image/svg+xml,%3Csvg width='50' height='41' viewBox='0 0 50 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.375 1.57692C9.375 1.1587 9.53962 0.757601 9.83265 0.46187C10.1257 0.16614 10.5231 0 10.9375 0H20.3125C20.7269 0 21.1243 0.16614 21.4174 0.46187C21.7104 0.757601 21.875 1.1587 21.875 1.57692V11.0385C21.875 11.4567 21.7104 11.8578 21.4174 12.1535C21.1243 12.4492 20.7269 12.6154 20.3125 12.6154H10.9375C10.5231 12.6154 10.1257 12.4492 9.83265 12.1535C9.53962 11.8578 9.375 11.4567 9.375 11.0385V1.57692ZM29.6875 0C29.2731 0 28.8757 0.16614 28.5826 0.46187C28.2896 0.757601 28.125 1.1587 28.125 1.57692V11.0385C28.125 11.4567 28.2896 11.8578 28.5826 12.1535C28.8757 12.4492 29.2731 12.6154 29.6875 12.6154H39.0625C39.4769 12.6154 39.8743 12.4492 40.1674 12.1535C40.4604 11.8578 40.625 11.4567 40.625 11.0385V1.57692C40.625 1.1587 40.4604 0.757601 40.1674 0.46187C39.8743 0.16614 39.4769 0 39.0625 0H29.6875ZM31.25 9.46154V3.15385H37.5V9.46154H31.25ZM12.5 31.5385C13.3288 31.5385 14.1237 31.2062 14.7097 30.6147C15.2958 30.0233 15.625 29.2211 15.625 28.3846C15.625 27.5482 15.2958 26.746 14.7097 26.1545C14.1237 25.563 13.3288 25.2308 12.5 25.2308C11.6712 25.2308 10.8763 25.563 10.2903 26.1545C9.70424 26.746 9.375 27.5482 9.375 28.3846C9.375 29.2211 9.70424 30.0233 10.2903 30.6147C10.8763 31.2062 11.6712 31.5385 12.5 31.5385ZM28.125 28.3846C28.125 29.2211 27.7958 30.0233 27.2097 30.6147C26.6237 31.2062 25.8288 31.5385 25 31.5385C24.1712 31.5385 23.3763 31.2062 22.7903 30.6147C22.2042 30.0233 21.875 29.2211 21.875 28.3846C21.875 27.5482 22.2042 26.746 22.7903 26.1545C23.3763 25.563 24.1712 25.2308 25 25.2308C25.8288 25.2308 26.6237 25.563 27.2097 26.1545C27.7958 26.746 28.125 27.5482 28.125 28.3846ZM37.5 31.5385C38.3288 31.5385 39.1237 31.2062 39.7097 30.6147C40.2958 30.0233 40.625 29.2211 40.625 28.3846C40.625 27.5482 40.2958 26.746 39.7097 26.1545C39.1237 25.563 38.3288 25.2308 37.5 25.2308C36.6712 25.2308 35.8763 25.563 35.2903 26.1545C34.7042 26.746 34.375 27.5482 34.375 28.3846C34.375 29.2211 34.7042 30.0233 35.2903 30.6147C35.8763 31.2062 36.6712 31.5385 37.5 31.5385ZM0 28.3846C0 25.0388 1.31696 21.83 3.66117 19.4642C6.00537 17.0983 9.18479 15.7692 12.5 15.7692H37.5C40.8152 15.7692 43.9946 17.0983 46.3388 19.4642C48.683 21.83 50 25.0388 50 28.3846C50 31.7304 48.683 34.9392 46.3388 37.305C43.9946 39.6709 40.8152 41 37.5 41H12.5C9.18479 41 6.00537 39.6709 3.66117 37.305C1.31696 34.9392 0 31.7304 0 28.3846ZM12.5 18.9231C10.0136 18.9231 7.62903 19.9199 5.87087 21.6943C4.11272 23.4687 3.125 25.8753 3.125 28.3846C3.125 30.894 4.11272 33.3006 5.87087 35.0749C7.62903 36.8493 10.0136 37.8462 12.5 37.8462H37.5C39.9864 37.8462 42.371 36.8493 44.1291 35.0749C45.8873 33.3006 46.875 30.894 46.875 28.3846C46.875 25.8753 45.8873 23.4687 44.1291 21.6943C42.371 19.9199 39.9864 18.9231 37.5 18.9231H12.5Z' fill='%23355CE0'/%3E%3C/svg%3E%0A");
		}
		&__item.icon2 {
			background-image: url("data:image/svg+xml,%3Csvg width='50' height='41' viewBox='0 0 50 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.9091 0C38.4091 0 36.3636 3.69 36.3636 8.2V16.4C36.3636 20.91 38.4091 24.6 40.9091 24.6H45.4545V32.8H36.3636V41H45.4545C47.9545 41 50 37.31 50 32.8V24.6C50 20.09 47.9545 16.4 45.4545 16.4H40.9091V8.2H50V0H40.9091ZM18.1818 0V41H27.2727C29.7727 41 31.8182 37.31 31.8182 32.8V8.2C31.8182 3.69 29.7727 0 27.2727 0H18.1818ZM22.7273 8.2H27.2727V32.8H22.7273V8.2ZM4.54545 0C2.04545 0 0 3.69 0 8.2V41H4.54545V24.6H9.09091V41H13.6364V8.2C13.6364 3.69 11.5909 0 9.09091 0H4.54545ZM4.54545 8.2H9.09091V16.4H4.54545V8.2Z' fill='%23355CE0'/%3E%3C/svg%3E%0A");
		}
		&__item.icon3 {
			background-image: url("data:image/svg+xml,%3Csvg width='50' height='41' viewBox='0 0 50 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.7586 29.6901C34.663 29.6901 36.2069 28.4242 36.2069 26.8626C36.2069 25.3011 34.663 24.0352 32.7586 24.0352C30.8541 24.0352 29.3103 25.3011 29.3103 26.8626C29.3103 28.4242 30.8541 29.6901 32.7586 29.6901Z' fill='%23355CE0'/%3E%3Cpath d='M8.62064 9.89808C10.5251 9.89808 12.0689 8.63218 12.0689 7.07062C12.0689 5.50906 10.5251 4.24316 8.62064 4.24316C6.71621 4.24316 5.17236 5.50906 5.17236 7.07062C5.17236 8.63218 6.71621 9.89808 8.62064 9.89808Z' fill='%23355CE0'/%3E%3Cpath d='M43.1035 41C41.7395 41 40.4061 40.6684 39.2719 40.047C38.1378 39.4256 37.2539 38.5424 36.7319 37.5091C36.2099 36.4758 36.0733 35.3388 36.3394 34.2419C36.6055 33.1449 37.2624 32.1373 38.2269 31.3465C39.1914 30.5556 40.4202 30.017 41.758 29.7988C43.0958 29.5806 44.4825 29.6926 45.7427 30.1206C47.0028 30.5486 48.0799 31.2735 48.8377 32.2034C49.5955 33.1333 50 34.2267 50 35.3451C49.9946 36.8435 49.2662 38.2793 47.974 39.3388C46.6819 40.3983 44.9309 40.9955 43.1035 41ZM43.1035 32.5176C42.4215 32.5176 41.7548 32.6835 41.1877 32.9942C40.6206 33.3048 40.1787 33.7464 39.9177 34.2631C39.6567 34.7797 39.5884 35.3482 39.7214 35.8967C39.8545 36.4452 40.1829 36.949 40.6652 37.3444C41.1474 37.7398 41.7618 38.0091 42.4307 38.1182C43.0996 38.2273 43.793 38.1713 44.4231 37.9573C45.0532 37.7433 45.5917 37.3809 45.9706 36.916C46.3495 36.451 46.5517 35.9043 46.5517 35.3451C46.549 34.5959 46.1848 33.878 45.5388 33.3483C44.8927 32.8185 44.0172 32.5199 43.1035 32.5176V32.5176Z' fill='%23355CE0'/%3E%3Cpath d='M48.2759 19.7941C48.2572 14.5496 45.7081 9.52422 41.1854 5.81577C36.6627 2.10732 30.534 0.017168 24.1379 0.00187613C20.0194 -0.0462941 15.9639 0.833957 12.4138 2.54659L14.3103 4.94993C15.6581 4.41878 17.0393 3.94687 18.4483 3.5362C15.5981 8.14766 14.0094 13.2135 13.7931 18.3803H3.44828C3.64146 16.0461 4.46601 13.7763 5.86207 11.7358L3.27586 9.89797C1.13055 12.8993 -0.000227445 16.3153 2.46399e-07 19.7941C-0.000452703 22.3933 0.623584 24.9672 1.83647 27.3687C3.04935 29.7701 4.82732 31.9522 7.06883 33.7901C9.31033 35.628 11.9715 37.0859 14.9002 38.0804C17.829 39.075 20.968 39.5866 24.1379 39.5863C27.2115 39.61 30.2598 39.1293 33.1034 38.1725L32.069 35.4865C29.2422 36.4776 26.172 36.9133 23.1034 36.7588C19.4267 32.1219 17.3969 26.7372 17.2414 21.2078H48.1034C48.246 20.7462 48.3041 20.2697 48.2759 19.7941V19.7941ZM18.6207 36.1933C15.1922 35.3507 12.0591 33.8481 9.48276 31.8108C6.06182 28.9405 3.9337 25.2013 3.44828 21.2078H13.7931C14.0303 26.4343 15.6792 31.5525 18.6207 36.1933V36.1933ZM17.2414 18.3803C17.3785 12.8689 19.3456 7.49249 22.931 2.82933H25.3448C28.9303 7.49249 30.8973 12.8689 31.0345 18.3803H17.2414ZM34.4828 18.3803C34.3516 13.1413 32.6965 8.0036 29.6552 3.39482C33.7118 4.35358 37.3179 6.29962 39.9964 8.97548C42.6748 11.6513 44.2994 14.9309 44.6552 18.3803H34.4828Z' fill='%23355CE0'/%3E%3C/svg%3E%0A");
		}
		&__item.icon4 {
			background-image: url("data:image/svg+xml,%3Csvg width='50' height='41' viewBox='0 0 50 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48.6144 33.6008H45.1744C44.9058 33.6008 44.682 33.7876 44.682 34.0118V37.3111H4.41833V3.68893H44.6884V6.98815C44.6884 7.21237 44.9122 7.39922 45.1808 7.39922H48.6208C48.8894 7.39922 49.1132 7.21771 49.1132 6.98815V1.63893C49.1132 0.73138 48.2372 0 47.1502 0H1.96299C0.875993 0 0 0.73138 0 1.63893V39.3611C0 40.2686 0.875993 41 1.96299 41H47.1438C48.2308 41 49.1068 40.2686 49.1068 39.3611V34.0118C49.1068 33.7823 48.883 33.6008 48.6144 33.6008ZM49.8037 20.1637L40.7305 14.1845C40.3916 13.9603 39.8993 14.1632 39.8993 14.5208V18.5781H19.8217C19.5404 18.5781 19.3102 18.7703 19.3102 19.0052V21.9948C19.3102 22.2297 19.5404 22.4219 19.8217 22.4219H39.8993V26.4792C39.8993 26.8368 40.398 27.0397 40.7305 26.8155L49.8037 20.8363C49.8649 20.7964 49.9143 20.7453 49.9483 20.6871C49.9823 20.6288 50 20.5648 50 20.5C50 20.4352 49.9823 20.3712 49.9483 20.3129C49.9143 20.2547 49.8649 20.2036 49.8037 20.1637Z' fill='%23355CE0'/%3E%3C/svg%3E%0A");
		}
		&__item.icon5 {
			background-image: url("data:image/svg+xml,%3Csvg width='50' height='41' viewBox='0 0 50 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48.6125 33.6008H45.1726C44.9041 33.6008 44.6803 33.7876 44.6803 34.0118V37.3111H4.41816V3.68893H44.6867V6.98815C44.6867 7.21237 44.9105 7.39922 45.179 7.39922H48.6189C48.8875 7.39922 49.1113 7.21771 49.1113 6.98815V1.63893C49.1113 0.73138 48.2353 0 47.1483 0H1.96292C0.875959 0 0 0.73138 0 1.63893V39.3611C0 40.2686 0.875959 41 1.96292 41H47.1419C48.2289 41 49.1049 40.2686 49.1049 39.3611V34.0118C49.1049 33.7823 48.8811 33.6008 48.6125 33.6008ZM49.4885 18.5781H29.4118V14.5208C29.4118 14.1632 28.913 13.9603 28.5806 14.1845L19.5077 20.1637C19.4465 20.2036 19.3971 20.2547 19.3631 20.3129C19.3291 20.3712 19.3114 20.4352 19.3114 20.5C19.3114 20.5648 19.3291 20.6288 19.3631 20.6871C19.3971 20.7453 19.4465 20.7964 19.5077 20.8363L28.5806 26.8155C28.9194 27.0397 29.4118 26.8369 29.4118 26.4792V22.4219H49.4885C49.7698 22.4219 50 22.2297 50 21.9948V19.0052C50 18.7703 49.7698 18.5781 49.4885 18.5781Z' fill='%23355CE0'/%3E%3C/svg%3E%0A");
		}
		&__item.icon6 {
			background-image: url("data:image/svg+xml,%3Csvg width='50' height='41' viewBox='0 0 50 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.0556 23.4286C18.8426 23.4286 19.5028 23.1474 20.0361 22.5851C20.5676 22.0248 20.8333 21.3298 20.8333 20.5C20.8333 19.6702 20.5676 18.9742 20.0361 18.4119C19.5028 17.8516 18.8426 17.5714 18.0556 17.5714C17.2685 17.5714 16.6093 17.8516 16.0778 18.4119C15.5444 18.9742 15.2778 19.6702 15.2778 20.5C15.2778 21.3298 15.5444 22.0248 16.0778 22.5851C16.6093 23.1474 17.2685 23.4286 18.0556 23.4286ZM27.7778 23.4286C28.5648 23.4286 29.225 23.1474 29.7583 22.5851C30.2898 22.0248 30.5556 21.3298 30.5556 20.5C30.5556 19.6702 30.2898 18.9742 29.7583 18.4119C29.225 17.8516 28.5648 17.5714 27.7778 17.5714C26.9907 17.5714 26.3315 17.8516 25.8 18.4119C25.2667 18.9742 25 19.6702 25 20.5C25 21.3298 25.2667 22.0248 25.8 22.5851C26.3315 23.1474 26.9907 23.4286 27.7778 23.4286ZM37.5 23.4286C38.287 23.4286 38.9463 23.1474 39.4778 22.5851C40.0111 22.0248 40.2778 21.3298 40.2778 20.5C40.2778 19.6702 40.0111 18.9742 39.4778 18.4119C38.9463 17.8516 38.287 17.5714 37.5 17.5714C36.713 17.5714 36.0528 17.8516 35.5194 18.4119C34.988 18.9742 34.7222 19.6702 34.7222 20.5C34.7222 21.3298 34.988 22.0248 35.5194 22.5851C36.0528 23.1474 36.713 23.4286 37.5 23.4286ZM0 20.5L12.0833 2.48929C12.5926 1.70833 13.2519 1.09821 14.0611 0.658928C14.8722 0.219643 15.7407 0 16.6667 0H44.4444C45.9722 0 47.2806 0.574 48.3694 1.722C49.4565 2.86805 50 4.24643 50 5.85714V35.1429C50 36.7536 49.4565 38.1329 48.3694 39.2809C47.2806 40.427 45.9722 41 44.4444 41H16.6667C15.7407 41 14.8722 40.7804 14.0611 40.3411C13.2519 39.9018 12.5926 39.2917 12.0833 38.5107L0 20.5ZM6.80555 20.5L16.6667 35.1429H44.4444V5.85714H16.6667L6.80555 20.5ZM44.4444 20.5V5.85714V35.1429V20.5Z' fill='%23355CE0'/%3E%3C/svg%3E%0A");
		}
	}
}

.we-translate {

}
//
.check-list {
	margin-bottom: 40px	;
	&__wrap {
		margin-bottom: 40px;

		@include media('<sm') {
			margin-bottom: 20px;
		}
		@include media('>=sm', '<lg') {
			margin-bottom: 30px;
		}
	}
	div {
		line-height: 31px;
		padding-left: 33px;
		background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='21' height='21' rx='6' fill='%23355CE0' stroke='white' stroke-width='2'/%3E%3Cpath d='M5.75055 10.0618L11.5005 18.2077L17.2505 4.79102' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
		background-position: left top 1px;
		background-repeat: no-repeat;
		font-weight: 400;
		font-size: 24px;
		color: #050F32;
		margin-bottom: 15px;

		@include media('<lg') {
			margin-bottom: 5px;
			font-size: 16px;
			padding-left: 28px;
			line-height: 23px;
		}
	}
	&:last-child div {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

///
.q-staff {
	position: relative;
	display: inline-flex;


	&__inner {
		padding-top: 71px;

		font-size: 14px;
		color: $primaryColor;
		background-image: url("data:image/svg+xml,%3Csvg width='45' height='34' viewBox='0 0 45 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.504 31.744C1.03467 30.6773 0.672001 29.3973 0.416001 27.904C0.202667 26.4107 0.0960007 24.9173 0.0960007 23.424C0.0960007 18.432 1.46133 13.952 4.192 9.98399C6.92267 5.97333 11.0187 2.944 16.48 0.895996C17.5893 1.45066 18.4427 2.32533 19.04 3.52C19.68 4.71466 19.936 5.90933 19.808 7.104C17.6747 8.128 15.712 9.57866 13.92 11.456C12.128 13.3333 11.1893 15.5093 11.104 17.984C11.9147 18.0693 12.8747 18.24 13.984 18.496C15.0933 18.7093 15.904 19.008 16.416 19.392C16.7573 19.9893 17.0347 20.8853 17.248 22.08C17.504 23.232 17.632 24.32 17.632 25.344C17.632 26.4107 17.5253 27.6053 17.312 28.928C17.0987 30.208 16.8 31.1467 16.416 31.744C15.7333 32.128 14.624 32.4907 13.088 32.832C11.552 33.1733 10.144 33.344 8.864 33.344C7.62667 33.344 6.26133 33.1947 4.768 32.896C3.27467 32.5973 2.18667 32.2133 1.504 31.744ZM25.76 31.744C25.2907 30.6773 24.928 29.3973 24.672 27.904C24.4587 26.4107 24.352 24.9173 24.352 23.424C24.352 18.432 25.7173 13.952 28.448 9.98399C31.1787 5.97333 35.2747 2.944 40.736 0.895996C41.8453 1.45066 42.6987 2.32533 43.296 3.52C43.936 4.71466 44.192 5.90933 44.064 7.104C41.9307 8.128 39.968 9.57866 38.176 11.456C36.384 13.3333 35.4453 15.5093 35.36 17.984C36.1707 18.0693 37.1307 18.24 38.24 18.496C39.3493 18.7093 40.16 19.008 40.672 19.392C41.0133 19.9893 41.2907 20.8853 41.504 22.08C41.76 23.232 41.888 24.32 41.888 25.344C41.888 26.4107 41.7813 27.6053 41.568 28.928C41.3547 30.208 41.056 31.1467 40.672 31.744C39.9893 32.128 38.88 32.4907 37.344 32.832C35.808 33.1733 34.4 33.344 33.12 33.344C31.8827 33.344 30.5173 33.1947 29.024 32.896C27.5307 32.5973 26.4427 32.2133 25.76 31.744Z' fill='%23355CE0'/%3E%3C/svg%3E%0A");
		background-position: left top;
		background-repeat: no-repeat;

		@include media('<sm') {
			margin-top: -34px;
		}
	}
	&__text {
		font-size: 16px;
		color: $blackColor;
		margin-bottom: 30px;

		@include media('<lg') {
			margin-bottom: 20px;
		}
	}
	img {
		max-width: 100%;
		vertical-align: top;
	}

	@include media('<sm') {
		flex-direction: column-reverse;
		&__photo {
			padding-top: 17px;
		}
	}
	@include media('>=sm') {
		padding-left: 212px;
		&__inner {
			position: absolute;
			bottom: 0;
			left: 0;
			max-width: 270px;
		}
	}
}

.reliably {
	&__list {
		margin-bottom: 40px;
		@include media('<sm') {
			margin-bottom: 20px;
		}
		@include media('>=sm', '<lg') {
			margin-bottom: 26px;
		}
	}
	&__item {
		position: relative;
		padding: 11px 0 20px;
		border-top: 1px solid rgba($primaryColor, 0.3);
		align-items: center;

		&__name {
			font-size: 24px;
			padding-left: 65px;
			min-height: 50px;
			display: flex;
			align-items: center;
			background-repeat: no-repeat;
			background-position: left center;
			font-weight: 500;

			@include media('<sm') {
				font-size: 14px;
				background-size: 24px auto;
				padding-left: 30px;
				margin-bottom: 5px;
				min-height: 35px
			}
			@include media('>=sm', '<lg') {
				font-size: 16px;
				background-size: 25px auto;
				padding-left: 30px;
				margin-bottom: 5px;

			}
		}

		&__name.icon1 {
			background-image: url("data:image/svg+xml,%3Csvg width='35' height='50' viewBox='0 0 35 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M35.0008 17.4993C35.0026 20.3209 34.3214 23.101 33.0153 25.6022C31.7093 28.1033 29.8171 30.2511 27.5006 31.8621V50H21.0355L17.5004 46.4649L13.9653 50H7.50017V31.8621C5.03071 30.1426 3.04635 27.8154 1.73872 25.1052C0.431094 22.395 -0.155619 19.3935 0.0352414 16.3904C0.226102 13.3873 1.18809 10.4842 2.8283 7.96135C4.46851 5.43852 6.73152 3.38125 9.3988 1.98821C12.0661 0.595161 15.0475 -0.0865886 18.0551 0.00879578C21.0627 0.10418 23.995 0.973476 26.5686 2.53273C29.1423 4.09199 31.2704 6.28852 32.7474 8.91021C34.2245 11.5319 35.0006 14.4901 35.0008 17.4993ZM30.0007 17.4993C30.0007 20.8146 28.6837 23.9941 26.3394 26.3383C23.9952 28.6826 20.8157 29.9996 17.5004 29.9996C14.1851 29.9996 11.0056 28.6826 8.66136 26.3383C6.3171 23.9941 5.00011 20.8146 5.00011 17.4993C5.00011 14.184 6.3171 11.0045 8.66136 8.66026C11.0056 6.31601 14.1851 4.99902 17.5004 4.99902C20.8157 4.99902 23.9952 6.31601 26.3394 8.66026C28.6837 11.0045 30.0007 14.184 30.0007 17.4993ZM12.5003 44.3924L17.5004 39.3923L22.5005 44.3924V34.2747C20.8776 34.7569 19.1934 35.0011 17.5004 34.9997C15.8074 35.0011 14.1231 34.7569 12.5003 34.2747V44.3924Z' fill='%23355CE0'/%3E%3Cpath d='M10.96 15.89C10.96 16.1433 10.91 16.3867 10.81 16.62C10.71 16.8533 10.58 17.08 10.42 17.3C10.26 17.5133 10.08 17.72 9.88 17.92C9.68 18.12 9.48333 18.31 9.29 18.49C9.19 18.5833 9.08 18.69 8.96 18.81C8.84667 18.9233 8.73667 19.04 8.63 19.16C8.52333 19.28 8.42667 19.3933 8.34 19.5C8.26 19.6 8.21 19.6833 8.19 19.75H11.17V21H6.55C6.53667 20.9267 6.53 20.8333 6.53 20.72C6.53 20.6067 6.53 20.5267 6.53 20.48C6.53 20.16 6.58 19.8667 6.68 19.6C6.78667 19.3333 6.92333 19.0867 7.09 18.86C7.25667 18.6267 7.44333 18.41 7.65 18.21C7.86333 18.01 8.07333 17.81 8.28 17.61C8.44 17.4567 8.59 17.3133 8.73 17.18C8.87 17.04 8.99333 16.9067 9.1 16.78C9.20667 16.6467 9.29 16.5167 9.35 16.39C9.41 16.2567 9.44 16.1233 9.44 15.99C9.44 15.6967 9.35667 15.49 9.19 15.37C9.02333 15.25 8.81667 15.19 8.57 15.19C8.39 15.19 8.22 15.22 8.06 15.28C7.90667 15.3333 7.76333 15.4 7.63 15.48C7.50333 15.5533 7.39333 15.63 7.3 15.71C7.20667 15.7833 7.13667 15.8433 7.09 15.89L6.35 14.85C6.64333 14.5767 6.98333 14.3533 7.37 14.18C7.76333 14 8.18333 13.91 8.63 13.91C9.03667 13.91 9.38667 13.9567 9.68 14.05C9.97333 14.1433 10.2133 14.2767 10.4 14.45C10.5933 14.6167 10.7333 14.8233 10.82 15.07C10.9133 15.31 10.96 15.5833 10.96 15.89ZM17.0236 17.52C17.0236 18.6867 16.8003 19.5833 16.3536 20.21C15.9136 20.83 15.3036 21.14 14.5236 21.14C13.7436 21.14 13.1303 20.83 12.6836 20.21C12.2436 19.5833 12.0236 18.6867 12.0236 17.52C12.0236 16.94 12.0803 16.4267 12.1936 15.98C12.3136 15.5333 12.4836 15.1567 12.7036 14.85C12.9236 14.5433 13.1869 14.31 13.4936 14.15C13.8003 13.99 14.1436 13.91 14.5236 13.91C15.3036 13.91 15.9136 14.2233 16.3536 14.85C16.8003 15.47 17.0236 16.36 17.0236 17.52ZM15.5036 17.52C15.5036 17.1733 15.4869 16.86 15.4536 16.58C15.4203 16.2933 15.3669 16.0467 15.2936 15.84C15.2203 15.6333 15.1203 15.4733 14.9936 15.36C14.8669 15.2467 14.7103 15.19 14.5236 15.19C14.3369 15.19 14.1803 15.2467 14.0536 15.36C13.9336 15.4733 13.8336 15.6333 13.7536 15.84C13.6803 16.0467 13.6269 16.2933 13.5936 16.58C13.5603 16.86 13.5436 17.1733 13.5436 17.52C13.5436 17.8667 13.5603 18.1833 13.5936 18.47C13.6269 18.7567 13.6803 19.0033 13.7536 19.21C13.8336 19.4167 13.9336 19.5767 14.0536 19.69C14.1803 19.8033 14.3369 19.86 14.5236 19.86C14.7103 19.86 14.8669 19.8033 14.9936 19.69C15.1203 19.5767 15.2203 19.4167 15.2936 19.21C15.3669 19.0033 15.4203 18.7567 15.4536 18.47C15.4869 18.1833 15.5036 17.8667 15.5036 17.52ZM18.0672 15.51C18.2605 15.43 18.4605 15.34 18.6672 15.24C18.8805 15.1333 19.0872 15.02 19.2872 14.9C19.4872 14.7733 19.6772 14.6433 19.8572 14.51C20.0439 14.37 20.2105 14.2233 20.3572 14.07H21.3972V21H19.9072V16.01C19.7072 16.1433 19.4839 16.2667 19.2372 16.38C18.9905 16.4867 18.7505 16.58 18.5172 16.66L18.0672 15.51ZM26.2408 15.89C25.9808 16.23 25.7041 16.6 25.4108 17C25.1174 17.4 24.8708 17.81 24.6708 18.23H26.2408V15.89ZM27.7008 14.07V18.23H28.4408V19.45H27.7008V21H26.2408V19.45H23.2508V18.36C23.3974 18.0667 23.5808 17.7367 23.8008 17.37C24.0208 16.9967 24.2641 16.6167 24.5308 16.23C24.8041 15.8367 25.0908 15.4533 25.3908 15.08C25.6908 14.7067 25.9908 14.37 26.2908 14.07H27.7008Z' fill='%23355CE0'/%3E%3C/svg%3E%0A");
		}
		&__name.icon2 {
			background-image: url("data:image/svg+xml,%3Csvg width='39' height='37' viewBox='0 0 39 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.25 33.2808H5.5C4.57174 33.2808 3.6815 32.9146 3.02513 32.2628C2.36875 31.611 2 30.7269 2 29.8051V5.47564C2 4.55384 2.36875 3.6698 3.02513 3.01799C3.6815 2.36618 4.57174 2 5.5 2H33.5C34.4283 2 35.3185 2.36618 35.9749 3.01799C36.6312 3.6698 37 4.55384 37 5.47564V19.3782' stroke='%23355CE0' stroke-width='3.125' stroke-linecap='round'/%3E%3Cpath d='M37 26.816C36.9998 27.8617 36.5834 28.8649 35.8415 29.607C34.1335 31.317 32.4763 33.1 30.7035 34.7475C30.5055 34.927 30.2455 35.0241 29.9775 35.0186C29.7094 35.0131 29.4537 34.9054 29.2633 34.7179L24.1568 29.6087C23.4145 28.8662 22.9979 27.8623 22.9979 26.816C22.9979 25.7698 23.4145 24.7659 24.1568 24.0234C24.5272 23.6526 24.9679 23.3583 25.4534 23.1574C25.9389 22.9566 26.4597 22.8532 26.9857 22.8532C27.5116 22.8532 28.0324 22.9566 28.5179 23.1574C29.0034 23.3583 29.4441 23.6526 29.8145 24.0234L30 24.2093L30.1855 24.0234C30.7418 23.4661 31.4524 23.0857 32.2269 22.9305C33.0015 22.7753 33.805 22.8522 34.5354 23.1515C35.2658 23.4509 35.8901 23.9591 36.3289 24.6116C36.7678 25.2641 37.0014 26.0314 37 26.816Z' stroke='%23355CE0' stroke-width='3.125' stroke-linejoin='round'/%3E%3Cpath d='M17.75 5.49299L17.7675 5.47388M2 8.95126H37H2ZM7.25 5.49299L7.2675 5.47388L7.25 5.49299ZM12.5 5.49299L12.5175 5.47388L12.5 5.49299Z' stroke='%23355CE0' stroke-width='3.125' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		}
		&__name.icon3 {
			background-image: url("data:image/svg+xml,%3Csvg width='35' height='42' viewBox='0 0 35 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.1111 0H5.83333C3.48833 0 0 1.6779 0 6.3V35.7C0 40.3221 3.48833 42 5.83333 42H35V37.8H5.85667C4.95833 37.7748 3.88889 37.3905 3.88889 35.7C3.88889 35.4879 3.90639 35.2989 3.93556 35.1267C4.15333 33.9192 5.06917 33.621 5.85472 33.6H33.0556C33.0906 33.6 33.1158 33.5811 33.1508 33.579H35V4.2C35 1.8837 33.2558 0 31.1111 0ZM31.1111 29.4H3.88889V6.3C3.88889 4.6074 4.95833 4.2252 5.83333 4.2H19.4444V18.9L23.3333 16.8L27.2222 18.9V4.2H31.1111V29.4Z' fill='%23355CE0'/%3E%3C/svg%3E%0A");
		}
		&__name.icon4 {
			background-image: url("data:image/svg+xml,%3Csvg width='42' height='35' viewBox='0 0 42 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.8 0H4.2C1.8837 0 0 1.96219 0 4.375V30.625C0 33.0378 1.8837 35 4.2 35H37.8C40.1163 35 42 33.0378 42 30.625V4.375C42 1.96219 40.1163 0 37.8 0ZM4.2 4.375H37.8V8.75H4.2V4.375ZM4.2 30.625V17.5H37.8021L37.8042 30.625H4.2Z' fill='%23355CE0'/%3E%3Cpath d='M8.3999 21.8752H20.9999V26.2502H8.3999V21.8752Z' fill='%23355CE0'/%3E%3C/svg%3E%0A");
		}
		&__name.icon5 {
			background-image: url("data:image/svg+xml,%3Csvg width='41' height='50' viewBox='0 0 41 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5 47C20.5 47 38 38.2 38 25V9.6L20.5 3L3 9.6V25C3 38.2 20.5 47 20.5 47Z' stroke='%23355CE0' stroke-width='4.16667' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.9375 25.0001L18.3125 29.4001L27.0625 20.6001' stroke='%23355CE0' stroke-width='4.16667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		}
		&__description {
			font-size: 16px;
			@include media('>=lg') {
				padding-right: 40px;
			}
			@include media('<sm') {
				font-size: 10px;
			}
			@include media('>=sm', '<lg') {
				font-size: 14px;
			}
		}
		&:first-child {
			border-top: none;
		}

		@include media('<sm') {
			padding: 5px 0;
		}

		@include media('>=sm', '<lg') {
			padding: 10px 0 6px;
		}
	}
}



.video-preview {
	position: relative;
	padding-top: 48.857142857142857%;
	background-image: url('#{$images-path}stuff/section2.png');
	background-size: cover;
	background-position: center;
	cursor: pointer;
	margin-bottom: 60px;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(52, 44, 116, 1);
		opacity: 0.7;
		transition: opacity .75s;
	}
	&:hover::after {
		opacity: 0.9;
	}
	&::before {
		content: '';
		z-index: 2;
		background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.3333 22.8645L81.3333 50L34.3333 77.1355L34.3333 22.8645Z' fill='%23355CE0' stroke='white' stroke-width='2'/%3E%3Ccircle cx='50' cy='50' r='49' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
		background-size: 100px;
		background-position: center;
		background-repeat: no-repeat;
		width: 110px;
		height: 110px;
		position: absolute;
		top: calc(50% - 55px);
		left: calc(50% - 55px);
		transition: background-size 0.25s;
	}
	&:hover:before {
		background-size: 105px;
	}

	@include media('<sm') {
		margin-bottom: 20px;
		padding-top: 48.75%;
		&::before {
			background-size: 50px;
		}
		&:hover:before {
			background-size: 55px;
		}
	}
	@include media('>=sm', '<lg') {
		margin-bottom: 40px;
	}
}
@include media('>=sm', '<lg') {
	.container--sm-wide {
		max-width: 100%;
		overflow: hidden;
		padding: 0;
	}
}
/**********/

.tariff {
	width: 61.66667%;

	&__name {
		font-weight: 500;
		font-size: 24px;
		line-height: 130%;
		margin-bottom: 20px;

		@include media('<sm') {
			font-size: 16px;
			margin-bottom: 10px;
		}
	}

	&__price {
		font-weight: 500;
		font-size: 24px;
		line-height: 130%;
		color: $primaryColor;
		margin-bottom: 20px;

		@include media('<sm') {
			font-size: 16px;
			margin-bottom: 12px;
		}
	}

	&__list-note {
		font-weight: 500;
		font-size: 16px;
		line-height: 130%;
		color: $blackColor;
		margin-bottom: 20px;

		@include media('<sm') {
			margin-bottom: 10px;
		}
	}

	&__list {
		margin-bottom: 16px;
		div {
			line-height: 130%;
			font-size: 16px;
			@include media('<sm') {
				font-size: 14px;
				background-position: left top 2px;
			}
		}
		@include media('<sm') {
			margin-bottom: 10px;
		}
	}

	&__link {
		display: inline-block;
		padding-right: 22px;
		line-height: 21px;
		padding-bottom: 2px;
		border-bottom: 1px dashed $blackColor;
		font-weight: 400;
		font-size: 16px;
		color: $blackColor;
		text-decoration: none;
		background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3624 4.94338C15.565 4.75576 15.5772 4.43941 15.3896 4.23679L12.3323 0.934882C12.1447 0.73226 11.8283 0.720094 11.6257 0.907708C11.4231 1.09532 11.4109 1.41167 11.5985 1.61429L14.3161 4.54932L11.3811 7.26697C11.1785 7.45458 11.1663 7.77093 11.3539 7.97355C11.5415 8.17617 11.8579 8.18834 12.0605 8.00072L15.3624 4.94338ZM0.013008 4.49963L15.0035 5.07613L15.0419 4.07687L0.0514451 3.50037L0.013008 4.49963Z' fill='%23050F32'/%3E%3C/svg%3E%0A");
		background-position: right center;
		background-repeat: no-repeat;
	}
	&__link:hover {
		color: $primaryColor;
	}

	@include media('<sm') {
		&.swiper-slide {
			opacity: 0.2;
			transition: opacity 0.25s;
		}
		&.swiper-slide-active {
			opacity: 1;
		}
	}

	@include media('>=lg') {
		width: calc(99.9% / 12 * 4 - 40px);
		margin-right: 40px;
		&:last-child {
			margin-right: 0;
		}
	}
}

////
.corporate {
	&__list {
		margin-bottom: 60px;
		@include media('<sm') {
			margin-bottom: 20px;
		}
		@include media('>=sm', '<lg') {
			margin-bottom: 40px;
		}
	}
}
.corporate-list {
	margin-bottom: 60px;
	@include media('>=lg') {
		margin-bottom: 120px;
	}

	@include media('<lg') {
		& > div:last-child {
			.corporate-list__item {
				margin-bottom: 0;
			}
		}
	}
}
.corporate-list {
	&__item {
		margin-bottom: 20px;

		&__title {
			font-size: 14px;
			line-height: 130%;
			color: $primaryColor;
			margin-bottom: 10px;

			@include media('>=sm') {
				font-weight: 500;
				font-size: 16px;
				margin-bottom: 0;
			}

			@include media('>=lg') {
				margin-bottom: 20px;
				font-size: 24px;
			}
		}
		&__text {
			font-size: 10px;
			line-height: 11px;
			@include media('>=sm') {
				font-size: 14px;
				line-height: 130%;
			}
			@include media('>=lg') {
				font-size: 16px;
			}
		}
		@include media('<lg') {
			margin-bottom: 20px;
		}
		@include media('>=sm') {
			.row {
				align-items: center;
			}
		}
	}
}
///
.partners-slider {

}
.partner-slide {
	text-align: center;
	img {
		max-width: 100%;
		vertical-align: top;
		margin: 0 auto;
	}
	&__name {
		font-size: 16px;
		line-height: 130%;
		text-align: center;
		color: $blackColor;
	}

	@include media('<sm') {
		width: 250px;
		opacity: 0.2;

		&.swiper-slide-active {
			opacity: 1;
		}
	}
}
.partner-slider {
	&__nav {
		display: inline-flex;
		gap: 25px;
		&__item {
			cursor: pointer;
			display: inline-block;
			width: 30px;
			height: 30px;

			&--next {
				text-align: right;
			}
			&:hover svg {
				stroke: $primaryColor!important;
			}
		}
	}
}

/////

.project-list {
	margin-bottom: 60px;
	@include media('<sm') {
		margin-bottom: 20px;
	}
	@include media('>=sm', '<lg') {
		margin-bottom: 40px;
	}
}
.project-item {
	margin-bottom: 0px;
	&__cover {
		padding-top: 51.470588235294118%;
		overflow: hidden;
		position: relative;
		transition: 0.3s ease-in-out;
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: center;
			object-position: center;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			transform: scale(1.001);
			transition: 0.3s ease-in-out;
		}
		&:hover img {
			transform: scale(1.05);
		}

	}
	&__body {
		align-self: center;
	}
	&__title {
		font-weight: 500;
		font-size: 24px;
		line-height: 130%;
		color: $blackColor;
		margin-bottom: 20px;
		a {
			text-decoration: none;
			color: $blackColor;
		}
		a:hover {
			color: $primaryColor;
		}

		@include media('<sm') {
			font-size: 16px;
			margin-bottom: 10px;
			line-height: 21px;
			height: 21px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		@include media('>=sm', '<lg') {
			font-size: 16px;
			margin-bottom: 10px;
		}
	}
	&__text {
		font-size: 16px;
		line-height: 130%;

		@include media('<sm') {
			font-size: 14px;
			color: #000;
			margin-bottom: 10px;
			height: 108px;
		}
		@include media('>=sm', '<lg') {
			font-size: 14px;
		}
	}

	@include media('>=sm') {
		margin-bottom: 60px;

		&:nth-child(2n) {
			flex-direction: row-reverse;
		}
	}

	@include media('>=sm', '<lg') {
		margin-bottom: 39px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@include media('<sm') {
		flex-direction: column-reverse;
		width: 83.333333333333333%;
		margin: 0;
		opacity: 0.2;
		&.swiper-slide-active {
			opacity: 1;
		}
		& > * {
			padding: 0;
		}
	}
}
///
.promo-panel {
	padding-top: 38px;
	text-align: left;

	&__body {

	}

	svg {
		display: none;
	}

	&__name {
		font-weight: 500;
		font-size: 16px;
		line-height: 130%;
		color: $primaryColor;
		margin-bottom: 8px;
		@include media('>=sm') {
			font-size: 24px;
			margin-bottom: 10px;
		}
	}
	p {
		line-height: 21px;
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 8px;

		img {
			vertical-align: middle;
		}
		@include media('>=sm') {
			margin-bottom: 10px;
		}
	}
	&__percent {
		font-weight: 500;
		font-size: 24px;
		line-height: 130%;
		text-transform: uppercase;
		color: $primaryColor;

		@include media('>=sm') {
			font-size: 42px;
		}
	}

	@include media('<sm') {
		text-align: center;
		margin-bottom: 60px;
	}
	@include media('>=sm') {
		padding-top: 74px;
		display: flex;
		align-items: center;

		svg {
			display: inline-block;
		}

		&__body {
			flex: 1;
			margin-left: 39px;
		}
	}
	@include media('>=sm', '<lg') {
		margin-bottom: 40px;
		padding-top: 60px;
		display: inline-flex;
		margin-left: auto;
		margin-right: auto;
	}
}
@include media('>=sm', '<lg') {
	.promo-panel-wrap {
		text-align: center;
	}
}
///
///
///

.section--corporate-page {
	margin-bottom: 10px;
	.promo-panel-wrap {
		text-align: center;
	}
	.promo-panel {
		padding-top: 0;
		display: inline-flex;

		@include media('>=lg') {
			margin-bottom: 120px;
		}
	}

	@include media('<sm') {
		margin-bottom: 40px;
		.section__title {
			text-align: left;
		}
		.section__desc {
			text-align: left;
		}
	}
	@include media('>=sm', '<lg') {
		margin-bottom: 60px;

		.corporate__list {
			margin-bottom: 69px;
		}
	}

}












///
$arrow-link-primary: url("data:image/svg+xml,%3Csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3778 4.64164C15.5731 4.44638 15.5731 4.12979 15.3778 3.93453L12.1959 0.752552C12.0006 0.55729 11.684 0.55729 11.4888 0.752552C11.2935 0.947814 11.2935 1.2644 11.4888 1.45966L14.3172 4.28809L11.4887 7.11651C11.2935 7.31178 11.2934 7.62836 11.4887 7.82362C11.684 8.01888 12.0006 8.01888 12.1958 7.82362L15.3778 4.64164ZM0.0227011 4.78809H15.0243L15.0243 3.78809H0.0227091L0.0227011 4.78809Z' fill='%23355CE0'/%3E%3C/svg%3E%0A");
$arrow-link-black: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3624 4.94338C15.565 4.75576 15.5772 4.43941 15.3896 4.23679L12.3323 0.934882C12.1447 0.73226 11.8283 0.720094 11.6257 0.907708C11.4231 1.09532 11.4109 1.41167 11.5985 1.61429L14.3161 4.54932L11.3811 7.26697C11.1785 7.45458 11.1663 7.77093 11.3539 7.97355C11.5415 8.17617 11.8579 8.18834 12.0605 8.00072L15.3624 4.94338ZM0.013008 4.49963L15.0035 5.07613L15.0419 4.07687L0.0514451 3.50037L0.013008 4.49963Z' fill='%23050F32'/%3E%3C/svg%3E%0A");

.more-link {
	display: inline-block;
	padding-right: 22px;
	line-height: 21px;
	padding-bottom: 2px;
	border-bottom: 1px dashed $blackColor;
	font-weight: 400;
	font-size: 16px;
	color: $blackColor;
	text-decoration: none;
	background-image: $arrow-link-black;
	background-position: right center;
	background-repeat: no-repeat;

	&:hover {
		color: $primaryColor;
		background-image: $arrow-link-primary;
	}

	&--primary {
		color: $primaryColor;
		border-bottom-color: $primaryColor;
		background-image: $arrow-link-primary;
		&:hover {
			color: $blackColor;
			border-bottom-color: $blackColor;
			background-image: $arrow-link-black;
		}
	}
}



@include media('>=sm') {
	.swiper-wrapper--xs {
		position: relative;
		width: 100%;
		height: auto!important;
		z-index: auto!important;
		display: block!important;
		-webkit-transition-property: -webkit-transform;
		-o-transition-property: transform;
		/* transition-property:transform,-webkit-transfo;-webkit-box-sizing:content-box;ox; */
		box-sizing: content-box
	}

}

@include media('>=lg') {

	.swiper-wrapper--lg-flex,
	.swiper-wrapper--lg {
		position: relative;
		width: 100%;
		height: auto!important;
		z-index: auto!important;
		display: block!important;
		-webkit-transition-property: -webkit-transform;
		-o-transition-property: transform;
		/* transition-property:transform,-webkit-transfo;-webkit-box-sizing:content-box;ox; */
		box-sizing: content-box
	}
	.swiper-wrapper--lg-flex {
		display: flex!important;
	}
}
